<%-include('partials/_header')%>

<body>

  <%-include('partials/_navigation')%>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% for(let i=0; i < blogs.length; i++) { %>
        <div class="post-preview">
          <a href="post/<%= blogs[i]._id %>">
            <h2 class="post-title">
              <%= blogs[i].title %> 
            </h2>
            <h3 class="post-subtitle">
              <%= blogs[i].topic %> 
            </h3>
          </a>
          <p class="post-meta">
            <% const monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"];
            const day = blogs[i].dateCreated.getDate();
            const month = monthNames[blogs[i].dateCreated.getMonth()];
            const year = blogs[i].dateCreated.getFullYear();
            function getOrdinalSuffix(n) {
              if (n > 3 && n < 21) return 'th'; // 11th, 12th, 13th gibi
              switch (n % 10) {
                case 1: return 'st';
                case 2: return 'nd';
                case 3: return 'rd';
                default: return 'th';
              }
            }
            const formatedDate = `on ${day}${getOrdinalSuffix(day)} ${month}, ${year}`; 
            %>

            <%= formatedDate %>
            </p>
        </div>
        <% } %>
        <hr>
        
        
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <%-include('partials/_footer')%>

</body>

</html>
