<%-include('partials/_header')%>

<body>

  <%-include('partials/_navigation')%>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= blog.title %> </h1>
            <h2 class="subheading"><%= blog.topic %></h2>
            <span class="meta">
              <% const monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"];
                const day = blog.dateCreated.getDate();
                const month = monthNames[blog.dateCreated.getMonth()];
                const year = blog.dateCreated.getFullYear();

                const formatedDate = `on ${month} ${day}, ${year}`; 
            %>
              <%= formatedDate %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= blog.detail %></p>
          <div class="text-center">
            <button type="submit" class="btn btn-info" id="updateMessageButton">Update</button>
            <button type="submit" class="btn btn-danger" id="deleteMessageButton">Delete</button>

          </div>
          
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%-include('partials/_footer')%>

</body>

</html>
